<div class="colmena-layout-margin">
    <section class="md-whiteframe-1dp">
        <md-toolbar layout="row" layout-align="space-around center">
            <rs-breadcrumbs>
                <rs-crumb text="Inicio" rs-ui-state="company.dashboard"></rs-crumb>
                <rs-crumb text="Lista de Precios" rs-ui-state="company.pricelists"></rs-crumb>
                <rs-crumb text="{{ vm.pricelist.attributes.name ? vm.pricelist.attributes.name : '[nuevo]' }}"></rs-crumb>
            </rs-breadcrumbs>
        </md-toolbar>
        <md-content layout-padding>
            <form name="myForm" novalidate ng-submit="myForm.$valid && vm.save()">
                <div layout-padding layout-margin>
                    <div layout-gt-sm="row">
                        <md-input-container class="text-left md-block" flex-gt-xs rs-validate="vm.contracts.name">
                            <label>Nombre</label>
                            <input name="name" type="text" ng-model="vm.pricelist.attributes.name" />
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="text-left md-block" flex-gt-xs rs-validate="vm.contracts.percent_price">
                            <label>Percent Price</label>
                            <input name="percent_price" type="number" step="0.01" ng-model="vm.pricelist.attributes.percent_price" />
                        </md-input-container>
                        <md-input-container class="text-left md-block" flex="35" rs-validate="vm.contracts.percent_subdist">
                            <label>Percent Subdist</label>
                            <input name="percent_subdist" type="number" step="0.01" ng-model="vm.pricelist.attributes.percent_subdist" />
                        </md-input-container>
                        <md-input-container class="text-left md-block" flex="35" rs-validate="vm.contracts.percent_prevent">
                            <label>Percent Prevent</label>
                            <input name="percent_prevent" type="number" step="0.01" ng-model="vm.pricelist.attributes.percent_prevent" />
                        </md-input-container>
                    </div>
                </div>
                <rs-submit cancel-href="#/company/{{$stateParams.companyId}}/pricelists" />
            </form>
        </md-content>

    </section>
</div>
