<div class="md-toolbar-tools" style="width:100%" layout="row" md-theme="{{ header.GlobalStateService.nameTheme }}" ng-if="header.GlobalStateService.nameTheme = header.GlobalStateService.companyId ? 'customTheme' : 'themeApp'">
    <div flex>
        <md-button ng-hide="!header.GlobalStateService.companyId" class="md-icon-button md-accent" ng-click="header.CompanyThemesService.lockLeft=!header.CompanyThemesService.lockLeft">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
    </div>

    <!-- por si lo llegamos a usar de nuevo-->

    <!--<div flex layout="row">
        <md-button class="md-raised md-primary md-fab md-mini" md-theme="customThemeSidenav" style="box-shadow: none" flex-order="1"
            ng-click="header.showContacts = !header.showContacts">
            <md-icon class="material-icons">chat</md-icon>
        </md-button>
        <md-button ng-hide="header.showContacts" ng-repeat="entity in header.entities" class="md-fab md-mini" style="box-shadow: none; padding:0; line-height:0; border: 3px solid {{entity.color}}"
            layout-="row" layout-align="center center" ng-animate="'animate'" ng-if="entity.color = entity.status ? '#4CAF50' : '#616161'"
            ng-click="header.GlobalStateService.windowChat = !header.GlobalStateService.windowChat; header.GlobalStateService.selected = $index">
            <img src="http://lorempixel.com/50/50/cats?{{$index}}" style="border-radius: 100px;">
            <md-tooltip>{{ entity.name }}</md-tooltip>
        </md-button>
    </div>-->
    <div layout="row" layout-align="center center">
        <div ng-repeat="entity in header.entities" ng-if="entity.color = entity.status ? '#4CAF50' : '#616161'" ng-show="header.GlobalStateService.AppSettings.ENV === 'develop'">
            <md-menu md-position-mode="target target" md-offset="-170 60">
                <!--<md-button layout="row" layout-align="center center" class="md-fab md-mini" style="box-shadow: none; padding:0; line-height:0; border: 3px solid {{entity.color}}"
                    ng-click="$mdOpenMenu()">
                    <img md-menu-origin src="http://placeimg.com/45/45/animals?{{ $index }}" style="border-radius: 100px" alt="">
                </md-button>-->
                <div layout="row" layout-align="center center" class="md-fab md-mini" style="box-shadow: none; padding:0; line-height:0; padding: 8px; position: relative;">
                    <img ng-click="$mdOpenMenu()" md-menu-origin src="http://placeimg.com/40/40/animals?{{ $index }}" style="border-radius: 100px" alt="">
                    <div style="position: absolute; top: 33px; left: 33px; background-color: white; border-radius: 100px; padding: 1px;">
                        <i class="material-icons" style="font-size: .8em; color: {{ entity.color }}">{{ entity.status ? 'lens' : 'radio_button_unchecked'}}</i>
                    </div>
                </div>
                <md-menu-content width="6" style="background-color: white; padding: 0; height: 300px; width: 300px" layout="column">
                    <md-toolbar class="md-accent md-hue-2" style="min-height: 35px; height:35px">
                        <div class="md-toolbar-tools" layout="row" layout-align="end">
                            <div flex="90" ng-if="header.GlobalStateService.status = header.entities[header.GlobalStateService.selected].status ? 'conectado' : 'desconectado'">
                                <h5>{{ entity.name }} ({{ header.GlobalStateService.status }})</h5>
                            </div>
                            <md-button class="md-icon-button md-mini">
                                <md-icon class="material-icons">close</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-content flex="70" layout-padding>
                        <md-toolbar class="talk-bubble tri-right btm-right {{ header.GlobalStateService.colorAfter }} md-accent {{ classTheme }}"
                            ng-value="classTheme = 'md-'+header.GlobalStateService.nameTheme+'-theme'" ng-if="header.GlobalStateService.colorAfter = header.GlobalStateService.nameTheme == 'themeApp' ? 'pink' : 'blue'">
                            <div class="talktext-right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </md-toolbar>
                        <div class="talk-bubble tri-right btm-left" style="background-color: #BDBDBD">
                            <div class="talktext-left">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </md-content>
                    <md-content layout-padding flex style="background-color: #E9E9E9">
                        <div class="md-toolbar-tools" style="min-height: 35px; height: 35px; width: 100%; padding: 0">
                            <input type="text" name="chat" style="width:100%; border: none; font-family: 'Lato', 'Arial', sans-serif; font-size: .7em; padding: 8px; border-radius: 2px"
                                placeholder="Escribe un mensaje aqui" autofocus>
                            <md-button class="md-icon-button md-accent md-hue-2" style="margin-right: 2px">
                                <md-icon class="material-icons">send</md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-menu-content>
            </md-menu>
        </div>

        <div flex style="border-left: 1px solid grey; margin-left: 12px">
            <md-menu md-position-mode="target-right target" md-offset="0 68">
                <md-button class="md-accent" ng-click="$mdOpenMenu()">
                    <img ng-src="{{ header.LoggedStateService.user.attributes.avatar_url }}?type=square" style="border-radius: 100px; width: 40px; height: 40px;"
                        alt="">&nbsp;
                    <span style="font-size: 1em; color: #616161">{{ header.LoggedStateService.user.attributes.first_name }}</span>&nbsp;
                    <md-icon class="material-icons" style="color: #616161">keyboard_arrow_down</md-icon>
                </md-button>
                <md-menu-content width="4" style="background-color: white">
                    <md-menu-item>
                        <md-button ng-disabled="!header.GlobalStateService.companyId" ui-sref="company.profile-edit">
                            <md-icon md-menu-align-target class="material-icons">person</md-icon>
                            <span style="margin-right: 100px; box-sizing: border-box">Perfil</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-disabled="!header.GlobalStateService.companyId" ui-sref="company.company-config">
                            <md-icon md-menu-align-target class="material-icons">settings</md-icon>
                            <span>Configurar esta compañía</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!header.GlobalStateService.companyId" ui-sref="locked.companies">
                            <md-icon md-menu-align-target class="material-icons">autorenew</md-icon>
                            <span>Seleccionar otra compañía</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="header.logout()">
                            <md-icon md-menu-align-target class="material-icons">exit_to_app</md-icon>
                            <span>Salir</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</div>
