<div>
    <input ng-model="filter"></input>
    <br/>
    <h3>Timelines</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Date of dead</th>
            </tr>
        </thead>
        <tr ng-repeat="timeline in vm.timelines">
            <td>{{ timeline.id }}</td>
            <td>
                <a href="#/timelines/timeline/{{ timeline.id }}">{{ timeline.attributes.name  }}</a>
            </td>
            <td>{{ timeline.attributes.date_of_birth | date }}</td>
            <td>{{ timeline.attributes.date_of_death | date }}</td>
        </tr>
    </table>
</div>
